[Unit]
Description=Run Legal Department backup daily

[Timer]
OnCalendar=*-*-* 03:00:00
Persistent=true
Unit=legal-dep-backup.service

[Install]
WantedBy=timers.target
